li {
    list-style: none;
    font-size: 22px;
    font-family: 'Volkhov', serif;
    font-weight: 450;
}

img {
    width: 40%;
}

.time {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Handlee', cursive;
    text-decoration: underline;
}

h1 {
    font-size: 40px;
    color: darkslategrey;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 2%;
    font-family: 'Lemonada', cursive;
}