li {
    list-style: none;
    font-size: 22px;
    font-family: 'Volkhov', serif;
    font-weight: 400;
    padding: 10px;
}

img {
    width: 100%;
}

.time {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Handlee', cursive;
    text-decoration: underline;
    color: gray;
}

h1 {
    font-size: 40px;
    color: darkslategrey;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 2%;
    font-family: 'Lemonada', cursive;
}

.column{
    column-count: 2;
    column-rule: 3px solid black;
}

.author{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}